@import "adaptive-margin-padding";
@import "adaptive-gap";
@import "card";
@import 'section-title';

.services {
  margin-bottom: 127px;
}

.services-title {
  @extend %title;
}

.services-subtitle {
  @extend %subtitle;
}

.cards {
  display: grid;
  margin-right: 135px;
  margin-left: 135px;
  @include adaptiv-margin-padding(135, 60, 830, "mr");
  @include adaptiv-margin-padding(135, 60, 830, "ml");
  grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
  grid-column-gap: 30px;
  @include adaptiv-gap(30, 20, 790, "c");
}

@media (max-width: 430px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

}

@media (max-width: 360px) {
  .cards {
    margin: 10px;
  }

}
